.navbar {
  min-height: 72px;
  align-items: center;
  display: flex;
  background-color: #371B58;
}

.custom-menubar {
  padding: 0rem !important;
}

.custom-menubar .p-menuitem span {
  color: white !important;
}

.custom-menubar .p-menuitem.active{
  border-bottom: 2px solid #fff;
  font-weight: bold;
}

.custom-menubar .p-menuitem:hover > .p-menuitem-link {
  background: #4C3575 !important;
}

.custom-menubar .p-menubar-root-list {
  margin-left: auto;
}

.logo {
  width: 32px;
}